<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Student Managament System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/students}">Student Managament System</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>List Students</h1>
		</div>

		<div class="row">
			<a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">
				Add Student </a>
		</div>

		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Student First Name</th>
						<th>Student Last Name</th>
						<th>Student Email</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="student: ${listStudents}">
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.email}"></td>

						<td><a th:href="@{/students/edit/{id}(id=${student.id})}"
							class="btn btn-primary">Update</a> <a
							th:href="@{/students/{id}(id=${student.id})}"
							class="btn btn-danger">Delete</a></td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>

</body>
</html>